#all_doc {
	/*background: rgb(63,94,251);*/
	/*background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);*/
	background-color: #4158D0;
	background-image: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {  
	/*border: 5px solid black;*/
	display: flex;
}

#block1{
	/*border: 5px solid blue;*/
	display: flex;
	margin: auto auto;
	padding: auto;
}

#name {
	font-family: 'Merriweather';
	margin:auto 0;
	white-space: pre;
}

#avatar {
	height:300px;
	margin:-50px -20px -50px -60px;
}

